WFM_ANDROID/workspace/.metadata/
WFM_ANDROID/workspace/WFM_design/
WFM_ANDROID/workspace/WebFieldManager/bin/
WFM_ANDROID/workspace/WebFieldManager/gen/
WFM_ANDROID/workspace/WebFieldModel/bin/
WEB_APP/sln/MS2.Web.API/bin/
WEB_APP/sln/MS2.Web.API/obj/
WEB_APP/sln/MS2.Web.Core/obj/
WEB_APP/sln/MS2.Web/bin/
WEB_APP/sln/MS2.Web/obj/
WEB_APP/sln/MS2.Web.API/MS2.Web.API.csproj.user
